* {
    font-family: Verdana, Lucida Sans, Arial, Helvetica, sans-serif;
}

body {
    margin: 0px auto;
    background-color:black;
}




.content_text {
	font-weight:bold;
	font-size:2em;
	color:#fff;
}

div > h4, div > h2{
	color: white;
}


div{
	margin: auto;
	width: 75%;
	text-align: center;
}
div > button{
	margin: auto;
	padding: 30px; 
	
}



div > input{
	width: 75%
}

.status{
	color: white;
}