html, body{
    margin:0;
      padding:0;
      height:auto;
      border:none;
      
}

body{
	  padding-top: 30%;
	  padding-bottom: 30%;
      background-color: #3D8EB9;
      text-align: center;
      vertical-align: middle;
}

#welcome_screen > img{
	width: 60px;
	height: auto;
}

#ip_screen, #delay_screen, #info_screen{
	
	display: none;
	
}

#delay_screen{
	height: auto;
}



.screen > button {
	width: 150px;
	height: 50px;
	margin: 15px;
	font-size: 24px;
	display: inline-block;
}

.screen > h1, .screen > p{
	font-family: Calibri;
	color: white;
}

.screen > p{
	font-size: 22px;
}

.screen > input {
	width: 80%;
	height: 30px;
	font-size: 20px;
	border: 0;
}

.screen > button {
	background-color: #000000;
	font-family: Calibri;
	border: 0;
	border-radius: 15px;
	text-align: center;
	color: white;
}

#info_screen > button{
	background-color: #b85151;
}
